# Default Environment Variables (Please set these in your .env file or export them in your shell)

# Container Images
FRONTEND_VOTE_IMAGE="babanila/vote:2.0"
FRONTEND_RESULT_IMAGE="babanila/result:2.0"
BACKEND_WORKER_IMAGE="babanila/worker:2.0"
REDIS_IMAGE="redis:7-alpine"
DB_IMAGE="postgres:15-alpine"

# SSH Configuration
SSH_KEY_PATH="" # Set this to the path of your SSH private key, e.g., ./babajide-useast1-dvft.pem 

# Database Configuration ==> Worker
DB_USER="postgres"
DB_PASSWORD="postgres"
DB_USERNAME="postgres"
DB_NAME="postgres"
DB_PORT=5432

# Redis Configuration
REDIS_PORT=6379

# Vote Environment Variables
FLASK_ENV="development"

# Postgres Configuration
PORT=80
PG_PORT=5432 
PG_USER="postgres"
PG_PASSWORD="postgres"
PG_DATABASE="postgres"


# IAM Configuration
AUTHOR_NAME="babajide"
AWS_REGION="us-east-1"
TF_LOCK_TABLE_NAME="tflock-project2-bucket-babajide"

NAMESPACE="babs-app"
NAME="babajide"
